*{
  box-sizing: border-box;
}

/*html body{
  height:100%;
}*/

body{
  margin:0;
  font-family: "Lato" sans-serif;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

/*.clearfix::after, .clearfix::before{
  content:" ";
  display:table;
}

.clearfix::after{
  clear: both;
}*/

/*.website-wrapper{
  direction:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  height:100%;
  text-align:center;
  position:relative;
}*/
#mapContainer {
  height: 600px;
  width: 900px;


}

/*.sidebar .flex-container{
  /*min-height:600px
  direction:flex;
  flex-direction: column;
  flex-wrap:nowrap;
  justify-content: flex-start;
  height:100%;
}*/

.sidebar{
  margin:0;
  padding:0;
  width:200px;
  background-color: white;
  height:100%;
  position:fixed;
  overflow:auto;
  border-right: solid;
  border-right-color: red;
}

.sidebar a{
  display:block;
  color:black;
  padding:16px;
  text-decoration:none;
  text-align: center;
}

.sidebar-menu a:hover{
  background-color: red;
  color:white;
}
#sideLogo {
  max-width: 250px;
  max-height: 250px;
}
/*
.sidebar .title-wrapper{
  float:left;
  width:60%;
}

.sidebar h1{
  font-size: 2.5em;
  text-align: center;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1em;
  padding-top: 40px;
}

.sidebar li{
  margin-bottom: 10px;
}

.sidebar .logo-website-wrapper{
  width:40%;
  display:block;
  float:left;
}

.sidebar .logo-website{
  width: 220px;
  height: 220px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0px;
  display: table;
  position: relative;
  vertical-align: middle;
}

.sidebar .logo-website span{
  display:table-cell;
  vertical-align:middle;
  position:relative;
  margin:0 auto;
  z-index:10;
  text-align:center;
}

.sidebar .logo-website img{
  border-radius: 50%;
  width:130px;
}
.navigation a{
  display:block;
  color:black;
  text-decoration: none;
}

.navigation ul{
  list-style-type: none;
}

.navigation a:hover{
  background-color:red;
  color: white;
}*/

.content{
  margin-left: 200px;
  padding:1px 16px;
  height:1000px;
}


@media screen and (max-width: 700px){
  .sidebar{
    width:100%;
    height:auto;
    position:relative
  }
  .sidebar a{
    float:left;
    }
  .content{
    margin-left: 0;
  }
}

@media screen and (max-width: 400px){
  .sidebar a{
    text-align: center;
    float:none;
  }
}

table, th, td {
  border: 2.5px solid black;
  border-collapse: collapse;
  align-items: center;
  background-color: #f1f1c1
}

 th, td {
  padding: 5px;
  text-align: left;
}
